<section class="section">
  <div class="container about-wrapper">
    <div>
      <ul class="about-list">
        <li class="about-item">
          <img class="about-img" src="./images/about1.jpg" alt="about" />
        </li>
        <li class="about-item">
          <img class="about-img" src="./images/about2.jpg" alt="about" />
        </li>
        <li class="about-item">
          <img class="about-img" src="./images/about3.jpg" alt="about" />
        </li>
      </ul>
    </div>
    <div class="about-text-wrapper">
      <h2 class="title">О компании</h2>
      <p class="about-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>
      <button class="btn" type="button">
        читать
        <svg class="arrow-btn">
          <use href="./images/sprite/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
