<footer class="footer">
  <div class="container footer-wrapper">
    <img class="footer-img" src="./images/footer-logo.png" alt="logo" />
    <div>
      <h3 class="footer-title">Информация</h3>
      <ul class="footer-nav-list">
        <li><a class="footer-nav-link" href="">Главная</a></li>
        <li><a class="footer-nav-link" href="">Галерея</a></li>
        <li><a class="footer-nav-link" href="">Проекты</a></li>
        <li><a class="footer-nav-link" href="">Сертификаты</a></li>
        <li><a class="footer-nav-link" href="">Контакты</a></li>
      </ul>
    </div>
    <div>
      <h3 class="footer-title">Контакты</h3>
      <ul class="footer-list">
        <li>
          <a
            class="footer-link"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%A2%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+10,+%D0%9A%D0%B0%D1%80%D0%B0%D0%B3%D0%B0%D0%BD%D0%B4%D0%B0+100000,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@49.823954,73.0856023,17z/data=!3m1!4b1!4m5!3m4!1s0x424346c3b32ffcaf:0x41481e634d919f9e!8m2!3d49.823954!4d73.0856023?entry=ttu"
            ><svg class="footer-icon">
              <use href="./images/sprite/icons.svg#icon-map"></use></svg
            >100000, Республика Казахстан,<br />
            г. Караганда, ул. Телевизионная 10</a
          >
        </li>
        <li>
          <a class="footer-link" href="tel:+38 (000) 000 00 00"
            ><svg class="footer-icon">
              <use href="./images/sprite/icons.svg#icon-phone"></use></svg
            >+38 (000) 000 00 00</a
          >
        </li>
        <li>
          <a class="footer-link" href="mailto:mail@gmail.com"
            ><svg class="footer-icon">
              <use href="./images/sprite/icons.svg#icon-mail"></use></svg
            >mail@gmail.com</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h3 class="footer-title">Социальные сети</h3>
      <ul class="footer-soc-list">
        <li>
          <a
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://uk-ua.facebook.com/"
          >
            <svg class="footer-icon">
              <use href="./images/sprite/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://twitter.com/"
          >
            <svg class="footer-icon">
              <use href="./images/sprite/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://www.linkedin.com/"
          >
            <svg class="footer-icon">
              <use href="./images/sprite/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://pinterest.com/"
          >
            <svg class="footer-icon">
              <use href="./images/sprite/icons.svg#icon-pinterest"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copywriting-wrapper">
    <p class="footer-copywriting">
      © 2019 Digital Project. Все права защищены.
    </p>
  </div>
</footer>
