<section class="section">
  <div class="container">
    <h2 class="title">Связаться с нами</h2>
    <div class="section-form-wrapper">
      <form class="form-wrapper">
        <input placeholder="Имя" class="form-input" type="text" />
        <input
          placeholder="Номер телефона*"
          class="form-input"
          type="tel"
          required
        />
        <input placeholder="E-mail*" class="form-input" type="email" required />
        <input
          placeholder="Интересующий товар/услуга"
          class="form-input"
          type="text"
        />
        <textarea
          placeholder="Сообщение*"
          class="form-area"
          required
        ></textarea>
        <label class="checkbox-text">
          <input class="visually-hidden checkbox" type="checkbox" />
          <svg class="form-check">
            <use href="./images/sprite/icons.svg#icon-check"></use>
          </svg>
          Отправляя заявку Вы соглашаетесь с политикой конфиденциальности
        </label>
        <button class="btn dark-btn" type="submit">
          отправить
          <svg class="arrow-btn dark-arrow-btn">
            <use href="./images/sprite/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
      <img class="form-img" src="./images/form-img.jpg" alt="form" />
    </div>
  </div>
</section>
