<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <img src="./images/logo.png" alt="logo" />
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link current-link" href="">главная</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="">галерея</a></li>
        <li class="nav-item"><a class="nav-link" href="">проекты</a></li>
        <li class="nav-item"><a class="nav-link" href="">сертификаты</a></li>
        <li class="nav-item"><a class="nav-link" href="">контакты</a></li>
      </ul>
    </div>
  </div>
</header>
