<div class="container">
  <div class="hero-wrapper">
    <div class="title-hero-wrapper">
      <h1 class="hero-title">
        <span class="hero-title-span">project</span><br />
        home
      </h1>
      <div class="arrow-icon-wrapper">
        <a href="" class="icon-arrow-background">
          <svg class="icon-arrow">
            <use href="./images/sprite/icons.svg#icon-arrow"></use>
          </svg>
        </a>

        <a href="" class="icon-arrow-background">
          <svg class="icon-arrow">
            <use href="./images/sprite/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="hero-number-wrapper">
        <span class="hero-number-slice">01</span>
        <span class="hero-number-slice">02</span>
      </div>
    </div>
    <div class="image-hero-wrapper">
      <img class="hero-image" src="./images/hero.jpg" alt="build" />
      <button class="btn hero-btn" type="button">
        взглянуть
        <svg class="arrow-btn">
          <use href="./images/sprite/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
