<section class="section">
  <div class="container projects-wrapper">
    <h2 class="title">Наши проекты</h2>
    <ul class="projects-list">
      <li class="projects-item">
        <img src="./images/project1.jpg" alt="project1" />
        <div class="projects-text-overlay">
          <h3 class="overlay-title">досуговый центр</h3>
          <a class="overlay-link" href=""
            >подробнее
            <svg class="overlay-arrow">
              <use href="./images/sprite/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <img src="./images/project2.jpg" alt="project2" />
        <div class="projects-text-overlay">
          <h3 class="overlay-title">концерт холл</h3>
          <a class="overlay-link" href=""
            >подробнее<svg class="overlay-arrow">
              <use href="./images/sprite/icons.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
      <li class="projects-item">
        <img src="./images/project3.jpg" alt="project3" />
        <div class="projects-text-overlay">
          <h3 class="overlay-title">поле</h3>
          <a class="overlay-link" href=""
            >подробнее<svg class="overlay-arrow">
              <use href="./images/sprite/icons.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
      <li class="projects-item">
        <img src="./images/project4.jpg" alt="project4" />
        <div class="projects-text-overlay">
          <h3 class="overlay-title">жк кристал</h3>
          <a class="overlay-link" href=""
            >подробнее<svg class="overlay-arrow">
              <use href="./images/sprite/icons.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
      <li class="projects-item">
        <img src="./images/project5.jpg" alt="project5" />
        <div class="projects-text-overlay">
          <h3 class="overlay-title">декор</h3>
          <a class="overlay-link" href=""
            >подробнее<svg class="overlay-arrow">
              <use href="./images/sprite/icons.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
    </ul>
    <button class="btn dark-btn projects-btn" type="button">
      все проекты
      <svg class="arrow-btn dark-arrow-btn">
        <use href="./images/sprite/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
