<section class="section">
  <div class="container tasks-wrapper">
    <h2 class="title">Основные задачи</h2>
    <ul class="tasks-list">
      <li class="tasks-item">
        <span class="tasks-number">1</span>
        <p class="tasks-text">
          Создание комфортных условий и повышение качества обслуживания клиентов
        </p>
      </li>
      <li class="tasks-item">
        <span class="tasks-number">2</span>
        <p class="tasks-text tasks-text-two" width="420">
          Постоянно совершенствовать качество предоставляемых услуг путем
          обучения персонала, закупки нового оборудования и усиленной рекламы на
          рынке
        </p>
      </li>
    </ul>
  </div>
</section>
