.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 222px;
  height: 71px;
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  transition: transform 300ms linear;

  &:hover .arrow-btn {
    transform: rotate(-180deg);
  }
}

.arrow-btn {
  width: 18px;
  height: 18px;
  transition: transform 300ms linear;
}