.about-wrapper {
  display: flex;
  gap: 30px;
  padding: 30px 70px 30px 100px;
  width: 1170px;
  height: 435px;
  background-color: #FBFBFB;
}

.about-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  &:nth-child(2) {
    margin-top: 30px;
    margin-left: 30px;
  }

    &:nth-child(3) {
      position: absolute;
      bottom: -60px;
    }
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.about-title {
  color: #BDBDBD;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}

.about-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}