.footer {
  padding-top: 60px;
  background-color: #2C2C2C;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-img {
  width: 145px;
  height: 94px;
}

.footer-title {
  margin-bottom: 25px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav-link {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  &:hover {
      color: #8D8D8D;
    }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-link {
  display: flex;
  gap: 14px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  &:hover .footer-icon {
    fill: #8D8D8D;
  }
}

.footer-soc-list {
  display: flex;
  gap: 40px;
}

.footer-icon {
  fill: #fff;
  width: 20px;
  height: 20px;
  transition: fill 300ms linear;
  &:hover {
      fill: #8D8D8D;
    }
}

.footer-copywriting-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 60px;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
}

.footer-copywriting {
  color: rgba(200, 200, 200, 0.50);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}