.section-form-wrapper {
  margin-top: 22px;
  display: flex;
  gap: 30px;
}

.form-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.form-input {
  padding: 14px 21px;
  width: 391px;
  height: 46px;
  color: #8D8D8D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  background-color: #F3F3F3;
  border: none;
}

.form-area {
  padding: 14px 21px;
  width: 391px;
  height: 145px;
  resize: none;
  background-color: #F3F3F3;
  color: #8D8D8D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  border: none;
}

.checkbox-text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px
}

.form-img {
  height: 369px;
}

.form-check {
  width: 22px;
  height: 22px;
  opacity: 0;
  transition: opacity 300ms linear;
}

.checkbox:checked + .form-check {
  opacity: 1;
}